DB_HOST = // your database host
DB_USER = // your database user
DB_PASS = // your database password
DB_PORT = // your database port  
DB_NAME = // your database name

SECRET_ACCESS_TOKEN = // your secret access token

# GOOGLE OAUTH
GOOGLE_CLIENT_ID= // your client google id

GOOGLE_CLIENT_SECRET= // your client google secret key  

SESSION_SECRET= //random characters

GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth

GOOGLE_ACCESS_TOKEN_URL=https://oauth2.googleapis.com/token

GOOGLE_TOKEN_INFO_URL=https://oauth2.googleapis.com/tokeninfo